<div class="tab-container">
  <div class="titles">
    <button class="title-btn active">Title 1</button>
    <button class="title-btn">Title 2</button>
    <button class="title-btn">Title 3</button>
  </div>
  <div class="contents">
    <div class="content active">
      Content 1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti vero fugiat reprehenderit. Facere amet dignissimos aut dolorem quasi quas ducimus, voluptatem voluptas nostrum inventore deleniti velit temporibus sit blanditiis nam?
    </div>
    <div class="content">
      Content 2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti vero fugiat reprehenderit. Facere amet dignissimos aut dolorem quasi quas ducimus, voluptatem voluptas nostrum inventore deleniti velit temporibus sit blanditiis nam?
    </div>
    <div class="content">
      Content 3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti vero fugiat reprehenderit. Facere amet dignissimos aut dolorem quasi quas ducimus, voluptatem voluptas nostrum inventore deleniti velit temporibus sit blanditiis nam?
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Tabs",
  "settings": [],
  "presets": [
    {
      "name": "Tabs"
    }
  ]
}
{% endschema %}