<div class="flex items-center justify-center h-full px-6 py-12 md:px-4 lg:px-8">
	<div class="w-full max-w-md spacing-y-8">
		<div>
			<h1 class="mt-6 text-3xl font-bold text-center">
				Reset your password
			</h1>
		</div>
		<div class="mt-8">
			{% form 'reset_customer_password' %}
       {% if form.errors %}
         <div class="relative border border-red-400 text-red-700 bg-red-100 px-4 py-3" role="alert">
          <strong class="font-bold">Error!</strong>
          <p class="block sm:inline">{{ form.errors | default_errors }}</p>
         </div>
       {% endif %}        
 
        <div class="my-2">
          <label for="password" class="sr-only">Password</label>
          <input
            type="password"
            name="customer[password]"
            id="password"
            autocomplete="new-password"
            class="relative block w-full px-3 py-2 border"
            placeholder="Password"
          />
        </div>
        <div class="my-2">
          <label for="password_confirmation" class="sr-only">Confirm Password</label>
          <input
            type="password"
            name="customer[password_confirmation]"
            id="password_confirmation"
            autocomplete="new-password"
            class="relative block w-full px-3 py-2 border"
            placeholder="Confirm Password"
          />
        </div>

        <div>
          <button type="submit" class="relative w-full py-2 px-4 text-sm font-medium text-white bg-gray-600 hover:bg-gray-900">Reset Password</button>
        </div>
        
			{% endform %}
		</div>
	</div>
</div>
