<div class="max-w-md">
  <div class="text-5xl font-bold my-4">
    {{ section.settings.title }}
  </div>
  <div class="text-base md:text-xl leading-normal">
    {{ section.settings.subtext }}
  </div>
  <div class="my-4">
    {% if sectioin.settings.button_url == blank %}
      {% assign shop_url = shop.secure_url %}
      {% else %}
        {% assign shop_url = section.settings.button_url %}
    {% endif %}
    <a href="{{ shop_url }}" class="px-4 inline py-2 text-base front-medium shadow bg-green-600 hover:bg-green-800 text-white">
      {{ section.settings.button_label }}
    </a>
  </div>
</div>

{% schema %}
{
  "name": "404 Page Texts",
  "tag": "section",
  "class": "flex items-center justify-center text-center py-7 h-screen",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "404 Title",
      "default": "404"   
    },
    {
      "type": "text",
      "id": "subtext",
      "label": "404 Subtext",
      "default": "This page was not found."
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "Back to Homepage"
    },
    {
     "type": "url",
     "id": "button_url",
     "label": "Button URL"
    }
  ]
}
{% endschema %}
